<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display Donation</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
</head>
<body>
<h1>Donated Items</h1>
    {% if items %}
        <h1>Items Exist</h1>    
    {% endif %}
    {% for item in items %}
        Item Id:  {{ item.id }} <br>
        Item type : {{ item.item_type }}<br>
        Item Name :{{ item.item_name }}<br>
        Required Quantity : {{ item.quantity_required }}<hr>
    {% endfor %}
</body>
</html>